body{
	margin: 0;
	background-color: #00000026;
}
header{
	background-color: #036704;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}
section{
	background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
footer{
	background-color: #333;
	width: 100%;
    padding-bottom: 5px;
    color: #FFF;
    position: fixed;
    z-index: 1000;
    bottom: 0;
}
h1,h5{
	padding-top: 5px;
    text-align: center;
    margin: 0;
}