body{
    background-color: rgb(87, 87, 148);
}
header{
    text-align: center;
    color: #FFF;
}
section{
    text-align: center;
    margin: auto;
    border-radius: 10px;
    background-color: #FFF; 
    width: 500px; 
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.438);
}
footer{
    color: #FFF;
    text-align: center;
    font-style: italic;
}
#foto{
    border-radius: 100%;
}

img#imagem {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
